.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div #boxes {
  margin-bottom: 20px;
}

div #show {
  margin-bottom: 20px;
}

div #show #first {
  margin-bottom: 20px;
  float: left;
  margin-left: 50px;
}

div #first {
  padding-right: 250px;
}

div #show-text {
  margin-bottom: 800px;
}

div #show-text-first {
  border: 1px solid gray;
  min-height: 300px;
  overflow: auto; 
  padding: 2px;
  resize: both;
  width: 400px;
  font-size:15px;
  color:#000;
  margin-top: 20px;
  margin-left: 50px;
}

div #data {
  margin-left: 600px;
}

div #save {
  float: left;
  margin-left: 230px;
}

